<%= stylesheet_link_tag "home.css" %>

<h1>Bienvenue sur League of Legends</h1>
<div class="container">
  <div class="Image">
    <p><</p>
    <%= image_tag("Yasuo4k.jpg", :alt => "Yasuo", width:'600') %>
    <p>></p>
  </div>

</div>
